.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(90deg, rgb(241, 242, 181) 0.00%,rgb(56, 206, 82) 100.00%);
}
.home-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-repeat: repeat-x;
  /* background-size: cover; */
  justify-content: center;
  background-image: url("public/header-bg-1500w.jpg");
}
.home-text1 {
  color: #ffffff;
  align-self: flex-start;
  text-align: center;
  padding-left: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.home-text2 {
  color: rgb(255, 255, 255);
  font-style: italic;
  font-weight: 700;
  padding-left: var(--dl-space-space-unit);
}
.home-text3 {
  color: #4e3b3b;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
}
.home-image1 {
  width: 200px;
  object-fit: cover;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-image2 {
  width: 200px;
  object-fit: cover;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
